body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
* {
  /* 
    By default in the CSS box model, 
    the width and height you assign to an element is applied only to the element's content box. 
    If the element has any border or padding, 
    this is then added to the width and height to arrive at the size of the box that's rendered on the screen. 
  */
  box-sizing: border-box;
}
